main {
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  padding: 40px;
}

.texto {
  padding: 30px 40px;
}

.formulario {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  position: relative;
  margin-top: 80px;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-info {
  padding: 20px;
}

.title {
  margin-bottom: 15px;
  font-weight: 600;
  margin-left: 10px;
}

.contact-info .title {
  color: black;
}

.contact-info .text {
  margin-left: 10px;
  margin-bottom: 25px;
  margin-right: 10px;
  line-height: 1.5;
}

.contact-form {
  padding: 20px;
}

.information {
  display: flex;
  margin: 0 10px 20px 10px;
  align-items: center;
}

.information a {
  text-decoration: none;
  color: black;
}

.information .correo {
  text-decoration: underline;
}

.information .icon {
  margin-right: 10px;
  color: var(--card-boton);
  font-size: 20px;
}

.social-media {
  margin-left: 10px;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: var(--card-boton);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 20px;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-form {
  background-color: var(--card-boton);
  position: relative;
}

.contact-form .title {
  color: white;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #5c6d78);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: var(--card-boton);
  transform: rotate(45deg);
  top: 50px;
  left: -10px;
}

.input-container {
  margin-bottom: 20px;
  margin-left: 10px;
  width: 80%;
}

.input {
  width: 100%;
  padding: 10px 15px;

  border: none;
  border-radius: 5px;
  outline: none;
}

.input-container textarea {
  resize: none;
  min-height: 150px;
  min-width: 100%;
}

.contact-form .boton {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  padding: 10px 30px;
  background: #5c6d78;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1.4s;
}

.big-circle {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: linear-gradient(to left, var(--card-boton), #5c6d78);
  bottom: 65%;
  right: 70%;
  transform: translate(-40%, 38%);
}

.whatsapp {
  background: var(--card-boton);
}

.whatsapp-container {
  color: white;
  text-align: center;
}

.whatsapp-container h2 {
  padding-bottom: 20px;
}

.whatsapp-container a {
  color: white;
  font-size: 20px;
}

.whatsapp-container a:hover {
  text-decoration: underline;
}

.whatsapp-container i {
  margin-right: 10px;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
